Solution/Autre Examples/Send SmsTest/Web References/com.webservicex.www/sendsmsworld.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.webserviceX.NET" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webserviceX.NET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="sendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromEmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="sendSMSSoapIn">
    <part name="parameters" element="s0:sendSMS" />
  </message>
  <message name="sendSMSSoapOut">
    <part name="parameters" element="s0:sendSMSResponse" />
  </message>
  <message name="sendSMSHttpGetIn">
    <part name="FromEmailAddress" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="MobileNumber" type="s:string" />
    <part name="Message" type="s:string" />
  </message>
  <message name="sendSMSHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="sendSMSHttpPostIn">
    <part name="FromEmailAddress" type="s:string" />
    <part name="CountryCode" type="s:string" />
    <part name="MobileNumber" type="s:string" />
    <part name="Message" type="s:string" />
  </message>
  <message name="sendSMSHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="SendSMSWorldSoap">
    <operation name="sendSMS">
      <documentation>Send unlimited free SMS to following countries.&lt;br&gt;&lt;b&gt;Note:&lt;/b&gt;If your country code 091,Please enter as 91 and if your mobile number 098XXXXX,Please enter as 98XXXX &lt;br&gt;&lt;table cellSpacing=0 cellPadding=5 border=0 border-collapse: collapse bordercolor=#111111&gt;&lt;tr&gt; &lt;td  width=50% &gt;&lt;font size=2 &gt;&lt;b&gt;This SMS covers following countries and&amp;nbsp; networks.&lt;/b&gt;&lt;/td&gt;	&lt;/tr&gt;	&lt;tr&gt;&lt;td  &gt;	&lt;b&gt;Austria -&lt;/b&gt;&lt;font face=Arial size=-1&gt;	Mobilkom&lt;b&gt;&lt;br&gt;	Bulgaria - &lt;/b&gt;Mobiltel  &lt;b&gt;&lt;br&gt;Croatia -&lt;/b&gt; Cronet  &lt;b&gt;&lt;br&gt;Germany -&lt;/b&gt; E-Plus,Mannesman D2 &lt;b&gt;&lt;br&gt;Israel - &lt;/b&gt;Pelephone &lt;b&gt;&lt;br&gt;Lithuania -&lt;/b&gt; Omnitel	&lt;b&gt;&lt;br&gt;Maldives - &lt;/b&gt;Dhiraagu   &lt;b&gt;&lt;br&gt;Norway - &lt;/b&gt;NetCom,TeleNor	&lt;b&gt;&lt;br&gt;	Switzerland - &lt;/b&gt;Bluewin  &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Ameritech Cellular services ,Cellular One,  Cingular &lt;b&gt;&lt;br&gt;Brazil - &lt;/b&gt;ATL express,Telemig Cellular &lt;b&gt;&lt;br&gt;Canada -&lt;/b&gt; Bell Mobility, Clearnet, Rogers AT&amp;amp;T Wireless ,Telus &lt;b&gt;&lt;br&gt;France - &lt;/b&gt;Itineris &lt;b&gt;&lt;br&gt;India - &lt;/b&gt;Essar Cell Phone,RPG Cellular &lt;b&gt;&lt;br&gt;Japan - &lt;/b&gt;NTT Docomo &lt;b&gt;	&lt;br&gt;Malaysia - &lt;/b&gt;Celcom &lt;b&gt;&lt;br&gt;New Zealand - &lt;/b&gt;Messagetrack &lt;b&gt;&lt;br&gt;Spain -&lt;/b&gt; MoviStar &lt;b&gt;&lt;br&gt;Ukraine - &lt;/b&gt;Golden Telecom, UMC &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Comcast Cellular Communications,Voicestream Wireless Corp. &lt;/td&gt;&lt;/tr&gt;	&lt;/table&gt;</documentation>
      <input message="s0:sendSMSSoapIn" />
      <output message="s0:sendSMSSoapOut" />
    </operation>
  </portType>
  <portType name="SendSMSWorldHttpGet">
    <operation name="sendSMS">
      <documentation>Send unlimited free SMS to following countries.&lt;br&gt;&lt;b&gt;Note:&lt;/b&gt;If your country code 091,Please enter as 91 and if your mobile number 098XXXXX,Please enter as 98XXXX &lt;br&gt;&lt;table cellSpacing=0 cellPadding=5 border=0 border-collapse: collapse bordercolor=#111111&gt;&lt;tr&gt; &lt;td  width=50% &gt;&lt;font size=2 &gt;&lt;b&gt;This SMS covers following countries and&amp;nbsp; networks.&lt;/b&gt;&lt;/td&gt;	&lt;/tr&gt;	&lt;tr&gt;&lt;td  &gt;	&lt;b&gt;Austria -&lt;/b&gt;&lt;font face=Arial size=-1&gt;	Mobilkom&lt;b&gt;&lt;br&gt;	Bulgaria - &lt;/b&gt;Mobiltel  &lt;b&gt;&lt;br&gt;Croatia -&lt;/b&gt; Cronet  &lt;b&gt;&lt;br&gt;Germany -&lt;/b&gt; E-Plus,Mannesman D2 &lt;b&gt;&lt;br&gt;Israel - &lt;/b&gt;Pelephone &lt;b&gt;&lt;br&gt;Lithuania -&lt;/b&gt; Omnitel	&lt;b&gt;&lt;br&gt;Maldives - &lt;/b&gt;Dhiraagu   &lt;b&gt;&lt;br&gt;Norway - &lt;/b&gt;NetCom,TeleNor	&lt;b&gt;&lt;br&gt;	Switzerland - &lt;/b&gt;Bluewin  &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Ameritech Cellular services ,Cellular One,  Cingular &lt;b&gt;&lt;br&gt;Brazil - &lt;/b&gt;ATL express,Telemig Cellular &lt;b&gt;&lt;br&gt;Canada -&lt;/b&gt; Bell Mobility, Clearnet, Rogers AT&amp;amp;T Wireless ,Telus &lt;b&gt;&lt;br&gt;France - &lt;/b&gt;Itineris &lt;b&gt;&lt;br&gt;India - &lt;/b&gt;Essar Cell Phone,RPG Cellular &lt;b&gt;&lt;br&gt;Japan - &lt;/b&gt;NTT Docomo &lt;b&gt;	&lt;br&gt;Malaysia - &lt;/b&gt;Celcom &lt;b&gt;&lt;br&gt;New Zealand - &lt;/b&gt;Messagetrack &lt;b&gt;&lt;br&gt;Spain -&lt;/b&gt; MoviStar &lt;b&gt;&lt;br&gt;Ukraine - &lt;/b&gt;Golden Telecom, UMC &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Comcast Cellular Communications,Voicestream Wireless Corp. &lt;/td&gt;&lt;/tr&gt;	&lt;/table&gt;</documentation>
      <input message="s0:sendSMSHttpGetIn" />
      <output message="s0:sendSMSHttpGetOut" />
    </operation>
  </portType>
  <portType name="SendSMSWorldHttpPost">
    <operation name="sendSMS">
      <documentation>Send unlimited free SMS to following countries.&lt;br&gt;&lt;b&gt;Note:&lt;/b&gt;If your country code 091,Please enter as 91 and if your mobile number 098XXXXX,Please enter as 98XXXX &lt;br&gt;&lt;table cellSpacing=0 cellPadding=5 border=0 border-collapse: collapse bordercolor=#111111&gt;&lt;tr&gt; &lt;td  width=50% &gt;&lt;font size=2 &gt;&lt;b&gt;This SMS covers following countries and&amp;nbsp; networks.&lt;/b&gt;&lt;/td&gt;	&lt;/tr&gt;	&lt;tr&gt;&lt;td  &gt;	&lt;b&gt;Austria -&lt;/b&gt;&lt;font face=Arial size=-1&gt;	Mobilkom&lt;b&gt;&lt;br&gt;	Bulgaria - &lt;/b&gt;Mobiltel  &lt;b&gt;&lt;br&gt;Croatia -&lt;/b&gt; Cronet  &lt;b&gt;&lt;br&gt;Germany -&lt;/b&gt; E-Plus,Mannesman D2 &lt;b&gt;&lt;br&gt;Israel - &lt;/b&gt;Pelephone &lt;b&gt;&lt;br&gt;Lithuania -&lt;/b&gt; Omnitel	&lt;b&gt;&lt;br&gt;Maldives - &lt;/b&gt;Dhiraagu   &lt;b&gt;&lt;br&gt;Norway - &lt;/b&gt;NetCom,TeleNor	&lt;b&gt;&lt;br&gt;	Switzerland - &lt;/b&gt;Bluewin  &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Ameritech Cellular services ,Cellular One,  Cingular &lt;b&gt;&lt;br&gt;Brazil - &lt;/b&gt;ATL express,Telemig Cellular &lt;b&gt;&lt;br&gt;Canada -&lt;/b&gt; Bell Mobility, Clearnet, Rogers AT&amp;amp;T Wireless ,Telus &lt;b&gt;&lt;br&gt;France - &lt;/b&gt;Itineris &lt;b&gt;&lt;br&gt;India - &lt;/b&gt;Essar Cell Phone,RPG Cellular &lt;b&gt;&lt;br&gt;Japan - &lt;/b&gt;NTT Docomo &lt;b&gt;	&lt;br&gt;Malaysia - &lt;/b&gt;Celcom &lt;b&gt;&lt;br&gt;New Zealand - &lt;/b&gt;Messagetrack &lt;b&gt;&lt;br&gt;Spain -&lt;/b&gt; MoviStar &lt;b&gt;&lt;br&gt;Ukraine - &lt;/b&gt;Golden Telecom, UMC &lt;b&gt;&lt;br&gt;USA - &lt;/b&gt;Comcast Cellular Communications,Voicestream Wireless Corp. &lt;/td&gt;&lt;/tr&gt;	&lt;/table&gt;</documentation>
      <input message="s0:sendSMSHttpPostIn" />
      <output message="s0:sendSMSHttpPostOut" />
    </operation>
  </portType>
  <binding name="SendSMSWorldSoap" type="s0:SendSMSWorldSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="sendSMS">
      <soap:operation soapAction="http://www.webserviceX.NET/sendSMS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="SendSMSWorldHttpGet" type="s0:SendSMSWorldHttpGet">
    <http:binding verb="GET" />
    <operation name="sendSMS">
      <http:operation location="/sendSMS" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="SendSMSWorldHttpPost" type="s0:SendSMSWorldHttpPost">
    <http:binding verb="POST" />
    <operation name="sendSMS">
      <http:operation location="/sendSMS" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="SendSMSWorld">
    <port name="SendSMSWorldSoap" binding="s0:SendSMSWorldSoap">
      <soap:address location="http://www.webservicex.com/sendsmsworld.asmx" />
    </port>
    <port name="SendSMSWorldHttpGet" binding="s0:SendSMSWorldHttpGet">
      <http:address location="http://www.webservicex.com/sendsmsworld.asmx" />
    </port>
    <port name="SendSMSWorldHttpPost" binding="s0:SendSMSWorldHttpPost">
      <http:address location="http://www.webservicex.com/sendsmsworld.asmx" />
    </port>
  </service>
</definitions>